@import url('./styles.css');

.form {
  padding: 36px 156px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.delay-label {
  display: block;
  width: 360px;
}

.delay-input {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.delay-input:hover {
  border: 1px solid #000;
}

.delay-input:focus,
.delay-input:active {
  border: 1px solid #4e75ff;
}

fieldset {
  width: 360px;
  height: 78px;
  margin-bottom: 24px;
  border-radius: 4px;
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: flex-end;
}

.submit-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  color: #fff;
}

.submit-btn:hover {
  background-color: #6c8cff;
}

.iziToast.iziToast-color-red {
  background: #ef4040 !important;
  border-color: #ef4040 !important;
}

.iziToast.iziToast-color-green {
  background: #59a10d !important;
  border-color: #59a10d !important;
}

.iziToast > .iziToast-body .iziToast-title {
  line-height: 150% !important;
  font-size: 16px !important;
  color: #fff !important;
}

.iziToast > .iziToast-body .iziToast-message {
  font-size: 16px !important;
  line-height: 16px !important;
  color: #fff !important;
  white-space: normal;
}

.iziToast-wrapper-bottomRight {
  top: 0 !important;
}

.iziToast > .iziToast-body .iziToast-icon.ico-error {
  background: none !important;
}

.iziToast > .iziToast-close {
  background: none !important;
}

.iziToast > .iziToast-body .iziToast-icon.ico-success {
  background: none !important;
}

.iziToast > .iziToast-body .iziToast-title {
  padding-bottom: 5px !important;
}
